#block_video_converter-upload-form {
    width: 500px;
    margin: 30px auto;
}

#block_video_converter-upload-form button {
    display: block;
    margin-top: 15px;
}

#block_video_converter-notification-area {
    padding: 15px 3px;
}

.block_video_converter-color-red {
    color: red;
}

.block_video_converter-badge-green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 5px;
}

.block_video_converter-badge-blue {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding: 5px;
}

.block_video_converter-badge-yellow {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    padding: 5px;
}

.block_video_converter-badge-red {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 5px;
}

.block_video_converter-hidden {
    display:none;
}